<!-- CLIENT SIDE (runs on client web browser) -->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/main.css">

  <title>Welcome To Quick Notes</title>
</head>
<body>
  <h1>QuickNotes</h1>

      <fieldset>
      <div>
          <label for="title">Title:</label><br>
          <input type="text" id="title" name="qntitle">


      </div>
      <div>
        <label for="contents">Contents:</label><br>
        <textarea rows="15" cols="90" name="qncontents"
                            id="contents"></textarea>
      </div>

      <button id="submit">Save</button> <button id="clear">Delete</button>

       </fieldset>

  <p id="servertime">

  </p>

  <script src="../static/main.js"></script>
</body>
</html>